.root{
     position: relative;
}



.input {
     border: 1px solid #cac6c6;
     padding: 12px 20px;
     width: 300px;
     border-radius: 15px;
        font-size: 16px;
        padding-left: 100px;

        
 
}
.icon{
     width: 18px;
     height: 18px;
     opacity: 0.5;
     position: absolute;
     left: 20px;
     top: 15px;
}
.close{
     width: 18px;
     height: 18px;
     position: absolute;
     left: 270px;
     top: 15px;
     opacity: 0.5;
     cursor: pointer;
     &:hover{
          opacity: 0.8;
     }
}
